$yellow-500: #feca1c;
$blue-500: #3761a8;

@import 'bootstrap/scss/bootstrap';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

header {
  height: 70px;
  background: $blue-500;
}

main {
  min-height: calc(100vh - 70px);
  background: $yellow-500;
}

.card-title > span {
  color: #fff;
}

.card {
  height: 160px;
  width: 160px;
  background: $blue-500;
}

.card-footer {
  max-width: 40%;
  
  @media screen and (min-width:768px) {
    max-width: 95%;
  }
}